@media screen and (max-width: 460px) {
    .project_text_small {
        font-size: 1.4em;
    }
    .project_text_big {
        font-size: 1.4em;
    }
    .color_square {
        width: 15px;
        height: 15px;
    }
}